body {
	background: url("students-group.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font: 12px "Trebuchet MS",Trebuchet,Verdana,sans-serif;
	letter-spacing: 2px;
	margin: 0;
}
